<div class="main-content h-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-12">
                <div class="card h-100">
                    <div class="card-header card-header-danger d-flex align-items-center">
                        <h4 class="card-title p-2">Inscrição Atleta</h4>
                    </div>
                    <div>
                        <div class="card-body p-3 row">
                            <div class="col-4 p-3">
                                <mat-form-field class="" appearance="fill">
                                    <mat-label>Evento</mat-label>
                                    <select matNativeControl name="id_evento" [(ngModel)]="selectEvento" (ngModelChange)="getModalidadesEvento(selectEvento)" required>
                                        <option disabled selected value="">Selecione o evento</option>
                                        <option *ngFor="let item of listaEventos" value="{{ item.id }}">{{ item.nm_evento | uppercase }}</option>
                                    </select>
                                </mat-form-field>
                                <span class="form-error id_evento"></span>
                            </div>

                            <div class="col-4 p-3">
                                <mat-form-field class="" appearance="fill">
                                    <mat-label>Modalidade</mat-label>
                                    <select matNativeControl name="id_modalidade" [(ngModel)]="selectModalidadeEvento" (ngModelChange)="getDelegacaoEvento(selectModalidadeEvento)" required>
                                        <option selected value="">Selecione a modalidade</option>
                                        <option *ngFor="let item of listaModalidadesEvento" value="{{ item.id }}">{{ item.id_modalidade.nm_modalidade | uppercase }} / {{ item.tp_naipe }}: {{ item.nr_idadeinicio }} à {{ item.nr_idadefinal }} anos</option>
                                    </select>
                                </mat-form-field>
                                <span class="form-error id_modalidade"></span>
                            </div>

                            <div class="col-4 p-3">
                                <mat-form-field class="" appearance="fill">
                                    <mat-label>Delegação</mat-label>
                                    <select matNativeControl name="id_delegacao" [(ngModel)]="selectDelegacaoEvento" (ngModelChange)="getEquipeInscricao(selectDelegacaoEvento)" required>
                                        <option selected value="">Selecione a delegação</option>
                                        <option *ngFor="let item of listaDelegacaoEvento" value="{{ item.id }}">{{ item.id_delegacao.nm_delegacao | uppercase }}</option>
                                    </select>
                                </mat-form-field>
                                <span class="form-error id_delegacao"></span>
                            </div>

                            <div class="col-8">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Atleta</mat-label>
                                        <input class="teste" type="text" placeholder="Selecione o atleta" matInput [formControl]="myControl" [matAutocomplete]="auto" />
                                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayNome" (optionSelected)="selected($event)">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                {{ option.nm_atleta }} <span class="text-small">({{ option.nm_apelido }})</span> / {{ option.tp_genero | uppercase }} / {{ option.nr_idade }} anos
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </form>
                            </div>

                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <button style="background: none; border: none" matTooltip="Salvar" (click)="sendEquipeInscricao(selectDelegacaoEvento)" [matTooltipPosition]="'below'">
                                    <i class="fa-solid fa-square-check fa-2x text-success"></i>
                                </button>
                                <button style="background: none; border: none" matTooltip="Limpar" (click)="cancelar()" [matTooltipPosition]="'below'">
                                    <i class="fa-solid fa-rectangle-xmark fa-2x text-danger"></i>
                                </button>
                            </div>

                            <div class="table-responsive">
                                <p class="text-center mt-5 text-pill mr-3 ml-3" *ngIf="!listaEquipesInscricao.length">** SELECIONE UMA DELEGAÇÃO **</p>

                                <table class="table text-center table-hover mt-5" *ngIf="listaEquipesInscricao.length">
                                    <thead class="text-primary col-md-12">
                                        <th class="col-md-2">ID</th>
                                        <th class="col-md-2">Atleta</th>
                                        <th class="col-md-2"></th>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let item of listaEquipesInscricao">
                                            <td>
                                                {{ item.id }}
                                            </td>
                                            <td>
                                                {{ item.id_atleta.nm_atleta }}
                                            </td>
                                            <td>
                                                <button style="background: none; border: none">
                                                    <i class="fa-solid fa-trash-xmark fa-2x text-danger" matTooltip="Excluir" (click)="excluir(item, selectDelegacaoEvento)" [matTooltipPosition]="'below'"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
