<div class="main-content" *ngIf="!novoCadastro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger d-flex align-items-center">
                        <h4 class="card-title p-2">Eventos</h4>
                        <p class="card-category">Adicionar e editar eventos</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <button mat-raised-button class="btn btn-info btn-sm d-flex align-items-center"  (click)="cadastrar()"><i class="fa-light fa-square-plus fa-2x"></i> Novo evento</button>
                            <mat-form-field class="float-right col-md-3">
                                <input matInput placeholder="Pesquisar..." type="text" name="searchTable" (keyup)="searchTable($event)" />
                            </mat-form-field>
                            <table class="table">
                                <thead class="text-primary">
                                    <th>ID <mat-icon (click)="sortTable('id', listaEventosFiltrado, 'ASC', $event)" class="sort-icon">arrow_upward</mat-icon> <mat-icon (click)="sortTable('id', listaEventosFiltrado, 'DESC', $event)" class="sort-icon si-down si-active">arrow_downward</mat-icon></th>
                                    <th>Evento <mat-icon (click)="sortTable('nm_evento', listaEventosFiltrado, 'ASC', $event)" class="sort-icon">arrow_upward</mat-icon> <mat-icon (click)="sortTable('nm_evento', listaEventosFiltrado, 'DESC', $event)" class="sort-icon si-down">arrow_downward</mat-icon></th>
                                    <th>Inicio <mat-icon (click)="sortTable('dt_inicio', listaEventosFiltrado, 'ASC', $event)" class="sort-icon">arrow_upward</mat-icon> <mat-icon (click)="sortTable('dt_inicio', listaEventosFiltrado, 'DESC', $event)" class="sort-icon si-down">arrow_downward</mat-icon></th>
                                    <th>Fim <mat-icon (click)="sortTable('dt_fim', listaEventosFiltrado, 'ASC', $event)" class="sort-icon">arrow_upward</mat-icon> <mat-icon (click)="sortTable('dt_fim', listaEventosFiltrado, 'DESC', $event)" class="sort-icon si-down">arrow_downward</mat-icon></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listaEventosFiltrado | paginate : { itemsPerPage: itensPagina, currentPage: pagAtual }">
                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td>
                                            {{ item.nm_evento | uppercase }}
                                        </td>
                                        <td>
                                            {{ item.dt_inicio | date : "dd/MM/yyyy HH:mm" }}
                                        </td>
                                        <td>
                                            {{ item.dt_fim | date : "dd/MM/yyyy HH:mm" }}
                                        </td>
                                        <td>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-pen-to-square fa-2x text-info" (click)="editarEvento(item)"></i>
                                            </button>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-trash-xmark fa-2x text-danger " (click)="excluir(item, 'evento')"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <pagination-controls (pageChange)="pagAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="novoCadastro">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" [ngSwitch]="num">
                        <div *ngSwitchCase="''">
                            <div class="card-header card-header-danger d-flex align-items-center">
                                <h4 class="card-title p-2">Adicionar eventos</h4>
                                <!-- <p class="card-category"></p> -->
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <th>Evento</th>
                                            <th>Inicio</th>
                                            <th>Fim</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="col-md-3">
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="text" name="nm_evento" [(ngModel)]="inputNomeEvento" required />
                                                    </mat-form-field>
                                                    <span class="form-error nm_evento"></span>
                                                </td>
                                                <td class="col-md-3">
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="datetime-local" name="dt_inicio" [(ngModel)]="inputDataInicio" required />
                                                    </mat-form-field>
                                                    <span class="form-error dt_inicio"></span>
                                                </td>
                                                <td class="col-md-3">
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="datetime-local" name="dt_fim" [(ngModel)]="inputDataFim" required />
                                                    </mat-form-field>
                                                    <span class="form-error dt_fim"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pl-5 pr-5 d-flex justify-content-between align-items-center">
                                        <button mat-raised-button class="btn btn-sm d-flex align-items-center btn-danger" (click)="cancelar('evento')" ><i class="fa-solid fa-square-arrow-left fa-2x"></i> Cancelar</button>
                                        <button mat-raised-button class="btn btn-sm d-flex align-items-center btn-info" (click)="botaoAvancar()" > Proximo <i class="fa-solid fa-square-arrow-right fa-2x"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngSwitchCase="'1'">
                            <div class="card-header card-header-danger d-flex align-items-center">
                                <h4 class="card-title p-2">Modalidades</h4>
                                <p class="card-category">Adicionar as modalidades que farão parte do evento</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table text-center">
                                        <thead class="text-primary col-md-12">
                                            <th>ID</th>
                                            <th>Modalidade</th>
                                            <th>Idade mínima</th>
                                            <th>Idade máxima</th>
                                            <th>Naipe</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <tr class="tabela-ocupante">
                                                <td></td>
                                                <td>
                                                    <mat-form-field class="" appearance="fill">
                                                        <mat-label>Modalidade</mat-label>
                                                        <select matNativeControl required name="id_modalidade" [(ngModel)]="modalidadeSelect" required>
                                                            <option disabled value="">Selecione a modalidade</option>
                                                            <option *ngFor="let item of listaModalidades" value="{{ item.id }}">{{ item.nm_modalidade | uppercase }}</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error id_modalidade"></span>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="text" name="nr_idadeinicio" [(ngModel)]="inputIdadeInicial" required />
                                                    </mat-form-field>
                                                    <span class="form-error nr_idadeinicio"></span>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="text" name="nr_idadefinal" [(ngModel)]="inputIdadeFinal" required />
                                                    </mat-form-field>
                                                    <span class="form-error nr_idadefinal"></span>
                                                </td>
                                                <td>
                                                    <mat-form-field class="" appearance="fill">
                                                        <mat-label>Naipe</mat-label>
                                                        <select matNativeControl required name="tp_naipe" [(ngModel)]="naipeSelect" required>
                                                            <option disabled value="">Selecione o naipe</option>
                                                            <option value="M">Masculino</option>
                                                            <option value="F">Feminino</option>
                                                            <option value="X">Misto</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error tp_naipe"></span>
                                                </td>
                                                <td>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-solid fa-square-check fa-2x text-success" (click)="sendModalidadesEvento('post')"></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-solid fa-rectangle-xmark fa-2x text-danger" (click)="limparFormModalidade()"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                            <tr *ngFor="let item of listaModalidadesEvento">
                                                <td>
                                                    {{ item.id }}
                                                </td>
                                                <td *ngIf="!item.editarModalidadeEvento">
                                                    {{ item.id_modalidade.nm_modalidade | uppercase }}
                                                </td>
                                                <td *ngIf="item.editarModalidadeEvento">
                                                    <mat-form-field class="" appearance="fill">
                                                        <mat-label>Modalidade</mat-label>
                                                        <select matNativeControl required name="id_modalidade" [(ngModel)]="editarModalidadeSelect" required>
                                                            <option disabled value="">Selecione a modalidade</option>
                                                            <option *ngFor="let itemSelect of listaModalidades" value="{{ itemSelect.id }}">{{ itemSelect.nm_modalidade | uppercase }}</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error id_modalidade"></span>
                                                </td>

                                                <td *ngIf="!item.editarModalidadeEvento">
                                                    {{ item.nr_idadeinicio }}
                                                </td>
                                                <td *ngIf="item.editarModalidadeEvento">
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="text" name="nr_idadeinicio" [(ngModel)]="inputEditarIdadeInicial" required />
                                                    </mat-form-field>
                                                    <span class="form-error nr_idadeinicio"></span>
                                                </td>

                                                <td *ngIf="!item.editarModalidadeEvento">
                                                    {{ item.nr_idadefinal }}
                                                </td>
                                                <td *ngIf="item.editarModalidadeEvento">
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="text" name="nr_idadefinal" [(ngModel)]="inputEditarIdadeFinal" required />
                                                    </mat-form-field>
                                                    <span class="form-error nr_idadefinal"></span>
                                                </td>

                                                <td *ngIf="!item.editarModalidadeEvento">
                                                    {{ (item.tp_naipe == 'M') ? 'Masculino' : (item.tp_naipe == 'F') ? 'Feminino' : 'Misto' }}
                                                </td>
                                                <td *ngIf="item.editarModalidadeEvento">
                                                    <mat-form-field class="" appearance="fill">
                                                        <mat-label>Naipe</mat-label>
                                                        <select matNativeControl required name="tp_naipe" [(ngModel)]="editarNaipeSelect" required>
                                                            <option disabled value="">Selecione o naipe</option>
                                                            <option value="M">Masculino</option>
                                                            <option value="F">Feminino</option>
                                                            <option value="X">Misto</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error tp_naipe"></span>
                                                </td>

                                                <td>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-pen-to-square fa-2x text-info" (click)="mostrarEditarModalidade(item)" *ngIf="!item.editarModalidadeEvento"></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-trash-xmark fa-2x text-danger "(click)="excluir(item, 'modalidades')" *ngIf="!item.editarModalidadeEvento" ></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-square-check fa-2x text-success" (click)="sendModalidadesEvento('put', item)" *ngIf="item.editarModalidadeEvento" ></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-rectangle-xmark fa-2x text-danger" (click)="cancelar('modalidades', item)" *ngIf="item.editarModalidadeEvento"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pl-5 pr-5 d-flex justify-content-between align-items-center">
                                        <button mat-raised-button class="btn btn-sm d-flex align-items-center btn-danger"><i class="fa-solid fa-square-arrow-left fa-2x"></i> Voltar</button>
                                        <button mat-raised-button class="btn btn-sm d-flex align-items-center btn-info" (click)="botaoAvancar()" > Proximo <i class="fa-solid fa-square-arrow-right fa-2x"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngSwitchCase="'2'">
                            <div class="card-header card-header-danger d-flex align-items-center">
                                <h4 class="card-title p-2">Encarregados</h4>
                                <p class="card-category">Adicionar encarregados para este evento</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table text-center">
                                        <thead class="text-primary col-md-12">
                                            <th class="col-md-1">ID</th>
                                            <th class="col-md-2">Cargo</th>
                                            <th class="col-md-2">Ocupante</th>
                                            <th class="col-md-2">Documento</th>
                                            <th class="col-md-2">Número do documento</th>
                                            <th class="col-md-2"></th>
                                        </thead>
                                        <tbody>
                                            <tr class="tabela-ocupante">
                                                <td></td>
                                                <td class="cadastrar-ocupante">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Cargo</mat-label>
                                                        <select matNativeControl name="nm_cargo" [(ngModel)]="cargoSelect" required>
                                                            <option disabled value="">Selecione o cargo</option>
                                                            <option *ngFor="let item of listaCargosCco" value="{{ item.id }}">{{ item.nm_cargo | uppercase }}</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error id_cargocco"></span>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="text" name="nm_ocupante" [(ngModel)]="inputNomeOcupante" required />
                                                    </mat-form-field>
                                                    <span class="form-error nm_ocupante"></span>
                                                </td>
                                                <td>
                                                    <mat-form-field class="" appearance="fill">
                                                        <mat-label>Tipo de Documento</mat-label>
                                                        <select matNativeControl name="tp_documento" [(ngModel)]="documentoSelect" required>
                                                            <option disabled value="">Selecione o documento</option>
                                                            <option value="C">CPF</option>
                                                            <option value="R">RG</option>
                                                            <option value="H">CARTEIRA DE HABILITAÇÃO</option>
                                                            <option value="O">OUTRO</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error tp_documento"></span>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="text" name="nr_documento" [(ngModel)]="inputNumeroDocumento" required />
                                                    </mat-form-field>
                                                    <span class="form-error nr_documento"></span>
                                                </td>
                                                <td>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-solid fa-square-check fa-2x text-success" (click)="sendNovoOcupante('post')"></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-solid fa-rectangle-xmark fa-2x text-danger" (click)="limparFormOcupante()"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                            <tr *ngFor="let item of listaOcupantes">
                                                <td>
                                                    {{ item.id }}
                                                </td>

                                                <td *ngIf="!item.mostrarEditarEncarregados">
                                                    {{ item.id_cargocco.nm_cargo | uppercase }}
                                                </td>
                                                <td *ngIf="item.mostrarEditarEncarregados">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Cargo</mat-label>
                                                        <select matNativeControl name="nm_cargo" [(ngModel)]="item.id_cargocco.id" required>
                                                            <option disabled value="">Selecione o cargo</option>
                                                            <option *ngFor="let itemSelect of listaCargosCco" value="{{ itemSelect.id }}">{{ itemSelect.nm_cargo | uppercase }}</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error id_cargocco"></span>
                                                </td>

                                                <td *ngIf="!item.mostrarEditarEncarregados">
                                                    {{ item.nm_ocupante | uppercase }}
                                                </td>
                                                <td *ngIf="item.mostrarEditarEncarregados">
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="text" name="nm_ocupante" [(ngModel)]="item.nm_ocupante" required />
                                                    </mat-form-field>
                                                    <span class="form-error nm_ocupante"></span>
                                                </td>

                                                <td *ngIf="!item.mostrarEditarEncarregados" [ngSwitch]="item.tp_documento">
                                                    <p *ngSwitchCase="'C'">CPF</p>
                                                    <p *ngSwitchCase="'R'">RG</p>
                                                    <p *ngSwitchCase="'H'">HABILITAÇÃO</p>
                                                    <p *ngSwitchCase="'O'">OUTRO</p>
                                                </td>
                                                <td *ngIf="item.mostrarEditarEncarregados">
                                                    <mat-form-field class="" appearance="fill">
                                                        <mat-label>Tipo de Documento</mat-label>
                                                        <select matNativeControl name="tp_documento" [(ngModel)]="item.tp_documento" required>
                                                            <option disabled value="">Selecione o documento</option>
                                                            <option value="C">CPF</option>
                                                            <option value="R">RG</option>
                                                            <option value="H">CARTEIRA DE HABILITAÇÃO</option>
                                                            <option value="O">OUTRO</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error tp_documento"></span>
                                                </td>

                                                <td *ngIf="!item.mostrarEditarEncarregados">
                                                    {{ item.nr_documento }}
                                                </td>
                                                <td *ngIf="item.mostrarEditarEncarregados">
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="text" name="nr_documento" [(ngModel)]="item.nr_documento" required />
                                                    </mat-form-field>
                                                    <span class="form-error nr_documento"></span>
                                                </td>

                                                <td>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-pen-to-square fa-2x text-info" (click)="editarEncarregados(item)" *ngIf="!item.mostrarEditarEncarregados"></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-trash-xmark fa-2x text-danger "(click)="excluir(item, 'cargos')" *ngIf="!item.mostrarEditarEncarregados" ></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-square-check fa-2x text-success" (click)="sendNovoOcupante('put', item)" *ngIf="item.mostrarEditarEncarregados"></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-rectangle-xmark fa-2x text-danger" (click)="cancelar('encarregados', item)" *ngIf="item.mostrarEditarEncarregados"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pl-5 pr-5 d-flex justify-content-between align-items-center">
                                        <button mat-raised-button class="btn btn-sm d-flex align-items-center btn-danger"><i class="fa-solid fa-square-arrow-left fa-2x"></i> Voltar</button>
                                        <button mat-raised-button class="btn btn-sm d-flex align-items-center btn-info" (click)="botaoAvancar()" > Proximo <i class="fa-solid fa-square-arrow-right fa-2x"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngSwitchCase="'3'">
                            <div class="card-header card-header-danger d-flex align-items-center">
                                <h4 class="card-title p-2">Municipios</h4>
                                <p class="card-category">Adicionar os municipios que acontecerão este evento</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table text-center">
                                        <thead class="text-primary col-md-12">
                                            <th>ID</th>
                                            <th>Estados</th>
                                            <th>Municipios</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <tr class="tabela-ocupante">
                                                <td></td>
                                                <td>
                                                    <mat-form-field class="" appearance="fill">
                                                        <mat-label>Estado</mat-label>
                                                        <select matNativeControl required name="id_estado" [(ngModel)]="estadoSelect" (ngModelChange)="getMunicipio('criar')" [disabled]="mostrarEditarMunicipios" required>
                                                            <option disabled value="">Selecione o estado</option>
                                                            <option *ngFor="let itemSelectCriar of listaEstado" value="{{ itemSelectCriar.id }}">{{ itemSelectCriar.nm_estado | uppercase }}</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error id_estado"></span>
                                                </td>
                                                <td>
                                                    <mat-form-field class="" appearance="fill">
                                                        <mat-label>Municipio</mat-label>
                                                        <select matNativeControl required name="id_municipio" [(ngModel)]="municipioSelect" [disabled]="mostrarEditarMunicipios" required>
                                                            <option disabled value="">Selecione o Municipio</option>
                                                            <option *ngFor="let itemSelectCriar of listaMunicipios" value="{{ itemSelectCriar.id }}">{{ itemSelectCriar.nm_municipio | uppercase }} / {{ itemSelectCriar.id_estado.sg_estado }}</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error id_municipio"></span>
                                                </td>
                                                <td>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-solid fa-square-check fa-2x text-success" (click)="cadastrarNovoMunicipio('post')"></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-solid fa-rectangle-xmark fa-2x text-danger" (click)="limparFormMunicipio()"></i>
                                                    </button>
                                                    <!-- <button (click)="cadastrarNovoMunicipio('post')">confirmar</button>
                                                    <button (click)="limparFormMunicipio()">X</button> -->
                                                </td>
                                            </tr>

                                            <tr *ngFor="let item of listaMunicipiosEvento">
                                                <td>
                                                    {{ item.id }}
                                                </td>
                                                
                                                <td *ngIf="!item.mostrarEditarMunicipios">
                                                    {{ item.id_municipio.estado.nm_estado | uppercase }}
                                                </td>
                                                <td *ngIf="item.mostrarEditarMunicipios">
                                                    <mat-form-field class="" appearance="fill">
                                                        <mat-label>Estado</mat-label>
                                                        <select matNativeControl required name="id_estado" [(ngModel)]="item.id_municipio.estado.id" (ngModelChange)="getMunicipio('editar', item.id_municipio.estado.id)" required>
                                                            <option disabled value="">Selecione o estado</option>
                                                            <option *ngFor="let itemSelectEditar of listaEstado" value="{{ itemSelectEditar.id }}">{{ itemSelectEditar.nm_estado | uppercase }}</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error id_estado"></span>
                                                </td>

                                                <td *ngIf="!item.mostrarEditarMunicipios">
                                                    {{ item.id_municipio.nm_municipio | uppercase }}
                                                </td>
                                                <td *ngIf="item.mostrarEditarMunicipios">
                                                    <mat-form-field class="" appearance="fill">
                                                        <mat-label>Municipio</mat-label>
                                                        <select matNativeControl required name="id_municipio" [(ngModel)]="item.id_municipio.id" required>
                                                            <option disabled value="">Selecione o Municipio</option>
                                                            <option *ngFor="let itemSelectEditar of listaMunicipios" value="{{ itemSelectEditar.id }}">{{ itemSelectEditar.nm_municipio | uppercase }} / {{ itemSelectEditar.id_estado.sg_estado }}</option>
                                                        </select>
                                                    </mat-form-field>
                                                    <span class="form-error id_municipio"></span>
                                                </td>

                                                <td>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-pen-to-square fa-2x text-info" (click)="editarMunicipiosEvento(item)" *ngIf="!item.mostrarEditarMunicipios"></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-trash-xmark fa-2x text-danger " (click)="excluir(item, 'municipios')" *ngIf="!item.mostrarEditarMunicipios"></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-square-check fa-2x text-success" (click)="cadastrarNovoMunicipio('put', item)" *ngIf="item.mostrarEditarMunicipios"></i>
                                                    </button>
                                                    <button style="background: none;border: none;">
                                                        <i class="fa-light fa-rectangle-xmark fa-2x text-danger" (click)="cancelar('municipios', item)" *ngIf="item.mostrarEditarMunicipios"></i>
                                                    </button>
                                                    <!-- <button (click)="editarMunicipiosEvento(item)" *ngIf="!item.mostrarEditarMunicipios">editar</button>
                                                    <button (click)="excluir(item, 'municipios')" *ngIf="!item.mostrarEditarMunicipios">excluir</button>
                                                    <button (click)="cadastrarNovoMunicipio('put', item)" *ngIf="item.mostrarEditarMunicipios">confirmar</button>
                                                    <button (click)="cancelar('municipios', item)" *ngIf="item.mostrarEditarMunicipios">cancelar</button> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pl-5 pr-5 d-flex justify-content-between align-items-center">
                                        <button mat-raised-button class="btn btn-sm d-flex align-items-center btn-danger"><i class="fa-solid fa-square-arrow-left fa-2x"></i> Voltar</button>
                                        <button mat-raised-button class="btn btn-sm d-flex align-items-center btn-info" ><i class="fa-solid fa-floppy-disk fa-2x"></i> Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
