

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="">
                    <div class="card-header card-header-danger d-flex align-items-center">
                        <h4 class="card-title p-2">Empresas</h4>
                        <!-- <p class="card-category">Here is a subtitle for this table</p> -->
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary text-center">
                                    <th>
                                        
                                    </th>
                                    <th>
                                      Empresa
                                    </th>
                                    <th>
                                      editar
                                    </th>
                                </thead>

                                <tbody>
                                    <tr class=" tabela-paginator text-center" *ngFor="let item of listaEmpresas | paginate: { itemsPerPage: itensPagina, currentPage: pagAtual }">
                                        <td>
                                            <img src="data:image/{{ item.ds_midia.extension }}; base64, {{ item.ds_midia.image }}" alt="" />
                                        </td>
                                        <td>
                                            {{ item.nm_tenant }}
                                        </td>
                                        <td>
                                            <button>editar</button>
                                            <button>excluir</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="text-right">
                            <pagination-controls (pageChange)="pagAtual  = $event" previousLabel="Anterior"
                            nextLabel="Próximo"></pagination-controls>
                        </div>

                        <button (click)="adicionarEmpresa()">Adicionar nova empresa</button>
                        <div *ngIf="novaEmpresa">
                            <input type="text" placeholder="Nome da empresa" [(ngModel)]="novaEmpresaNome" />
                            <input type="file" placeholder="imagem" (change)="AdicionarNovaEmpresa($event)" />
                            <button (click)="confirmarNovaEmpresa()">teste</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
