<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger d-flex align-items-center">
                        <h4 class="card-title p-2">Cargos</h4>
                        <!-- <p class="card-category"></p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <button mat-raised-button class="btn btn-info btn-sm d-flex align-items-center"  (click)="cadastrar()"><i class="fa-light fa-square-plus fa-2x"></i> Novo cargo </button>
                            <mat-form-field class="float-right col-md-3">
                                <input matInput placeholder="Pesquisar..." type="text" name="searchTable" (keyup)="searchTable($event)">
                            </mat-form-field>
                            <table class="table text-center">
                                <thead class="text-primary">
                                    <th class="col-md-1">ID</th>
                                    <th class="col-md-2">Cargo</th>
                                    <th class="col-md-1"></th>
                                </thead>
                                
                                <tbody >
                                    <tr *ngIf="novoCadastro" >
                                        <td></td>
                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <input name="nm_cargo" matInput placeholder="" name="nm_cargo" [(ngModel)]="inputNomeCargo" />
                                            </mat-form-field>
                                            <span class="form-error nm_cargo"></span>
                                        </td>
                                        <td>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-square-check fa-2x text-success" (click)="sendCargo()"></i>
                                            </button>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-rectangle-xmark fa-2x text-danger" (click)="cancelarCadastro()"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of listaCargosCcoFiltrada | paginate : { itemsPerPage: itensPagina, currentPage: pagAtual }">
                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td >
                                            <p *ngIf="!item.mostrarEditarCargo">
                                                {{ item.nm_cargo }}
                                            </p>
                                            <div *ngIf="item.mostrarEditarCargo">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="text" name="nm_cargo"  [(ngModel)]="item.nm_cargo" />
                                                </mat-form-field>
                                                <span class="form-error nm_cargo"></span>
                                            </div>
                                        </td>

                                        <td >
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-pen-to-square fa-2x text-info" (click)="mostrarEdicaoCargo(item, listaCargosCco)" *ngIf="!item.mostrarEditarCargo"></i>
                                            </button>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-trash-xmark fa-2x text-danger " (click)="excluir(item)" *ngIf="!item.mostrarEditarCargo"></i>
                                            </button>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-square-check fa-2x text-success" (click)="editarCargo(item)" *ngIf="item.mostrarEditarCargo"></i>
                                            </button>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-rectangle-xmark fa-2x text-danger" (click)="cancelarEdicao(item)" *ngIf="item.mostrarEditarCargo"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <pagination-controls (pageChange)="pagAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
