<div class="main-content" *ngIf="!novoCadastro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger d-flex align-items-center">
                        <h4 class="card-title p-2">Tenant usuarios</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <button  mat-raised-button class="btn btn-info btn-sm d-flex align-items-center" (click)="cadastrar()"><i class="fa-light fa-square-plus fa-2x mr-1"></i> Novo usuario</button>
                            <mat-form-field class="float-right col-md-3">
                                <input matInput placeholder="Pesquisar..." type="text" name="searchTable" (keyup)="searchTable($event)">
                            </mat-form-field>
                            <table class="table">
                                <thead class="text-primary">
                                    <th>ID <mat-icon (click)="sortTable('id', listaTenantUsuarioFiltrado, 'ASC', $event)" class="sort-icon">arrow_upward</mat-icon> <mat-icon (click)="sortTable('id', listaTenantUsuarioFiltrado, 'DESC', $event)" class="sort-icon si-down si-active">arrow_downward</mat-icon></th>
                                    <th>Nome <mat-icon (click)="sortTable('id_usuario.nm_usuario', listaTenantUsuarioFiltrado, 'ASC', $event)" class="sort-icon">arrow_upward</mat-icon> <mat-icon (click)="sortTable('id_usuario.nm_usuario', listaTenantUsuarioFiltrado, 'DESC', $event)" class="sort-icon si-down">arrow_downward</mat-icon></th>
                                    <th>Tenant <mat-icon (click)="sortTable('id_tenant.nm_tenant', listaTenantUsuarioFiltrado, 'ASC', $event)" class="sort-icon">arrow_upward</mat-icon> <mat-icon (click)="sortTable('id_tenant.nm_tenant', listaTenantUsuarioFiltrado, 'DESC', $event)" class="sort-icon si-down">arrow_downward</mat-icon> </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listaTenantUsuarioFiltrado | paginate : { itemsPerPage: itensPagina, currentPage: pagAtual }">
                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td>
                                            {{ item.id_usuario.nm_usuario }}
                                        </td>
                                        <td>
                                            {{ item.id_tenant.nm_tenant }}
                                        </td>
                                        <td>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-pen-to-square fa-2x text-info" (click)="botaoMostrarEditar(item)" *ngIf="!item.mostrarEditarEventos"></i>
                                            </button>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-trash-xmark fa-2x text-danger " (click)="excluir(item)"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <pagination-controls (pageChange)="pagAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="novoCadastro">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" [ngSwitch]="num">
                        <div *ngSwitchCase="''">
                            <div class="card-header card-header-danger d-flex align-items-center">
                                <h4 class="card-title p-2">Usuarios</h4>
                                <!-- <p class="card-category">Selecione os tenant</p> -->
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex flex-column align-items-center">
                                    <div class="col-md-7">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Nome completo" type="text" name="nm_usuario" [(ngModel)]="inputNome" />
                                        </mat-form-field>
                                        <span class="form-error nm_usuario"></span>
                                    </div>
                                    <div class="col-md-7">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="email@email.com" type="email" name="ds_email" [(ngModel)]="inputEmail" />
                                        </mat-form-field>
                                        <span class="form-error ds_email"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 d-flex flex-column align-items-center" *ngIf="!editar">
                                    <div class="col-md-7">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Senha" type="text" name="sn_usuario" [(ngModel)]="inputSenha" />
                                        </mat-form-field>
                                        <span class="form-error sn_usuario"></span>
                                    </div>
                                    <div class="col-md-7">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Confirme sua senha" type="text" name="c_sn_usuario" [(ngModel)]="inputConfirmaSenha" />
                                        </mat-form-field>
                                        <span class="form-error c_sn_usuario"></span>
                                    </div>
                                </div>
                                <div class="pl-5 pr-5 d-flex justify-content-between align-items-center">
                                    <button mat-raised-button class="btn btn-sm d-flex align-items-center btn-danger" (click)="botaoVoltar()" ><i class="fa-solid fa-square-arrow-left fa-2x"></i> Cancelar</button>
                                    <button mat-raised-button class="btn btn-sm d-flex align-items-center btn-info" (click)="botaoAvancar('post')" *ngIf="!editar">proximo <i class="fa-solid fa-square-arrow-right fa-2x"></i></button>
                                    <button mat-raised-button class="btn btn-sm d-flex align-items-center btn-info" (click)="botaoAvancar('put')" *ngIf="editar">proximo <i class="fa-solid fa-square-arrow-right fa-2x"></i></button>
                                </div>
                            </div>
                        </div>

                        <div *ngSwitchCase="'1'">
                            <div class="card-header card-header-danger d-flex align-items-center">
                                <h4 class="card-title p-2">Tenant</h4>
                                <!-- <p class="card-category">Selecione os tenant</p> -->
                            </div>
                            <div class="card-body">
                                <div>
                                    <mat-label>Tenant</mat-label>
                                    <ul class="d-flex flex-wrap flex-column lista-checkbox m-0">
                                        <li style="list-style: none" class="lista-checkbox-item" *ngFor="let item of listaTenant; let i = index">
                                            <mat-checkbox type="checkbox" name="id_tenant" [(ngModel)]="item.checked" (change)="setCheckbox(item.id, $event)">
                                                {{ item.nm_tenant }}
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                    <span class="form-error id_tenant"></span>
                                </div>
                                <div class="pl-5 pr-5 d-flex justify-content-between align-items-center">
                                    <button  mat-raised-button class="btn btn-sm d-flex align-items-center btn-info" (click)="botaoVoltar()"><i class="fa-solid fa-square-arrow-left fa-2x"></i> voltar</button>
                                    <button  mat-raised-button class="btn btn-sm d-flex align-items-center btn-info" (click)="botaoAvancar('post')"  *ngIf="!editar"><i class="fa-solid fa-floppy-disk fa-2x"></i> salvar</button>
                                    <button  mat-raised-button class="btn btn-sm d-flex align-items-center btn-info" (click)="botaoAvancar('put')"  *ngIf="editar"><i class="fa-solid fa-floppy-disk fa-2x"></i> salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
