<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger d-flex align-items-center">
                        <h4 class="card-title p-2">Simple Table</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <button mat-raised-button class="btn btn-info btn-sm d-flex align-items-center" (click)="cadastrar()"><i class="fa-light fa-square-plus fa-2x"></i> Nova modalidade</button>
                            <mat-form-field class="float-right col-md-3">
                                <input matInput placeholder="Pesquisar..." type="text" name="searchTable" (keyup)="searchTable($event)">
                            </mat-form-field>
                            <table class="table text-center">
                                <thead class="text-primary">
                                    <th class="col-md-1">ID</th>
                                    <th class="col-md-2">Modalidade</th>
                                    <th class="col-md-2">Tipo</th>
                                    <th class="col-md-1"></th>
                                </thead>

                                <tbody>
                                    <tr *ngIf="novoCadastro">
                                        <td></td>
                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <input name="nm_modalidade" matInput placeholder="" type="text" name="nm_modalidade" [(ngModel)]="inputNomeModalidade" />
                                            </mat-form-field>
                                            <span class="form-error nm_modalidade"></span>
                                        </td>
                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <input name="tp_modalidade" matInput placeholder="" type="text" name="tp_modalidade" [(ngModel)]="inputTipoModalidade" />
                                            </mat-form-field>
                                            <span class="form-error tp_modalidade"></span>
                                        </td>
                                        <td>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-square-check fa-2x text-success" (click)="sendModalidade()"></i>
                                            </button>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-rectangle-xmark fa-2x text-danger" (click)="cancelarCadastro()"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr *ngFor="let item of listaModalidadesFiltrada | paginate : { itemsPerPage: itensPagina, currentPage: pagAtual }">
                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td>
                                            <p *ngIf="!item.mostrarEditarModalidade">
                                                {{ item.nm_modalidade }}
                                            </p>
                                            <div *ngIf="item.mostrarEditarModalidade">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="text" name="nm_modalidade" id=""  [(ngModel)]="item.nm_modalidade" />
                                                </mat-form-field>
                                                <span class="form-error nm_modalidade"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <p *ngIf="!item.mostrarEditarModalidade">
                                                {{ item.tp_modalidade }}
                                            </p>
                                            <div *ngIf="item.mostrarEditarModalidade">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="text" name="tp_modalidade" id=""  [(ngModel)]="item.tp_modalidade" />
                                                </mat-form-field>
                                                <span class="form-error tp_modalidade"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-pen-to-square fa-2x text-info" (click)="mostrarEdicaoModalidade(item)" *ngIf="!item.mostrarEditarModalidade"></i>
                                            </button>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-trash-xmark fa-2x text-danger " (click)="excluir(item)" *ngIf="!item.mostrarEditarModalidade"></i>
                                            </button>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-square-check fa-2x text-success" (click)="editarModalidade(item)" *ngIf="item.mostrarEditarModalidade"></i>
                                            </button>
                                            <button style="background: none;border: none;">
                                                <i class="fa-light fa-rectangle-xmark fa-2x text-danger" (click)="cancelarCadastro(item)" *ngIf="item.mostrarEditarModalidade"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <pagination-controls (pageChange)="pagAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
