<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger d-flex align-items-center">
                        <h4 class="card-title p-2">Simple Table</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary text-center">
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Apelido</th>
                                    <th>Data de nascimento</th>
                                    <th>Genero</th>
                                    <th>Endereço</th>
                                    <th>Número</th>
                                    <th>CEP</th>
                                    <th>Cidade</th>
                                </thead>
                                <tbody *ngFor="let item of listaAtletas">
                                    <tr class="tabela-paginator text-center">
                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td class=" col-md-3">
                                            {{ item.nm_atleta }}
                                        </td>
                                        <td>
                                            {{ item.nm_apelido }}
                                        </td>
                                        <td>
                                            {{ item.dt_nascimento }}
                                        </td>
                                        <td>
                                            {{ item.tp_genero }}
                                        </td>
                                        <td>
                                            {{ item.ds_endereco }}
                                        </td>
                                        <td>
                                            {{ item.nr_endereco }}
                                        </td>
                                        <td>
                                            {{ item.nr_cep }}
                                        </td>
                                        <td>{{ item.id_municipio.nm_municipio }} / {{ item.id_municipio.estado.sg_estado }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


