<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="">
                    <div class="card-header card-header-danger d-flex align-items-center">
                        <h4 class="card-title p-2">Empresas</h4>
                        <!-- <p class="card-category">Here is a subtitle for this table</p> -->
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <button (click)="adicionarEmpresa()">Adicionar nova empresa</button>
                            <mat-form-field class="float-right col-md-3">
                                <input matInput placeholder="Pesquisar..." type="text" name="searchTable" (keyup)="searchTable($event)">
                            </mat-form-field>
                            <table class="table text-center">
                                <thead class="text-primary">
                                    <th class="col-1">ID</th>
                                    <th class="col-4">Imagem</th>
                                    <th class="col-4">Tenant <mat-icon (click)="sortTable('nm_tenant', listaEmpresasFiltrada, 'ASC', $event)" class="sort-icon">arrow_upward</mat-icon> <mat-icon (click)="sortTable('nm_tenant', listaEmpresasFiltrada, 'DESC', $event)" class="sort-icon si-down">arrow_downward</mat-icon> </th>
                                    <th class="col-3"></th>
                                </thead>

                                <tbody>
                                    <tr *ngIf="novoCadastro">
                                        <td></td>
                                        <td>
                                            <button type="button" mat-raised-button (click)="fileInput.click()">Escolher arquivo</button>
                                            <input hidden (change)="imagemTenant($event)" #fileInput type="file" id="file" [(ngModel)]="inputFileTenant"/>
                                            {{ inputFileTenant }} <br>
                                            <span class="form-error ds_midia"></span>
                                        </td>
                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Nome da empresa" name="nm_tenant" [(ngModel)]="novaEmpresaNome" required/>
                                            </mat-form-field>
                                            <span class="form-error nm_tenant"></span>
                                        </td>
                                        <td>
                                            <button (click)="confirmarNovoTenant()">confirmar</button>
                                            <button (click)="limparCadastroTenant()">X</button>
                                        </td>
                                    </tr>

                                    <tr class="" *ngFor="let item of listaEmpresasFiltrada | paginate : { itemsPerPage: itensPagina, currentPage: pagAtual }">
                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td>
                                            <div *ngIf="item.mostrarEditar">
                                                <button type="button" mat-raised-button (click)="fileInput.click()">Escolher arquivo</button>
                                                <input hidden (change)="imagemTenant($event)" #fileInput type="file" id="file" [(ngModel)]="editarInputFileTenant"/>
                                                {{ editarInputFileTenant }} <br>
                                                <span class="form-error ds_midia"></span>
                                            </div>
                                            <img src="data:image/{{ item.ds_midia.extension }}; base64, {{ item.ds_midia.image }}" alt="" *ngIf="!item.mostrarEditar"/>
                                        </td>
                                        <td>
                                            <div *ngIf="item.mostrarEditar">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="text" placeholder="Nome da empresa" name="nm_tenant" [(ngModel)]="item.nm_tenant" required/>
                                                </mat-form-field>
                                                <span class="form-error nm_tenant"></span>
                                            </div>                                        
                                            <p *ngIf="!item.mostrarEditar">
                                                {{ item.nm_tenant }}
                                            </p>    
                                        </td>
                                        <td>
                                            <button (click)="botaoMostrarEditar(item)" *ngIf="!item.mostrarEditar">editar</button>
                                            <button (click)="excluir(item)" *ngIf="!item.mostrarEditar">excluir</button>
                                            <button (click)="editar(item)" *ngIf="item.mostrarEditar">confirmar</button>
                                            <button (click)="cancelarEdicao(item)" *ngIf="item.mostrarEditar">cancelar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="text-right">
                            <pagination-controls (pageChange)="pagAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
