<!-- <main class="container-singup-card" *ngIf="tenantActive">
    <div>
        <h1>
            Cadastrar-se
        </h1>
        <div class="card-body">
            <div>
                <h4>
                    Escolha o Tenant que deseja logar:
                </h4>
                <div appearance="fill">
                    <select matNativeControl required>
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                </div>
            </div>

            <button (click)="enviar()">Enviar</button>
        </div>
    </div>
</main> -->

<!-- <div class="main-content m-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Escolher Tenant</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div>
                            <h4>
                                Escolha o Tenant que deseja logar:
                            </h4>
                            <mat-form-field appearance="fill">
                                <mat-label>Tenants</mat-label>
                                <select matNativeControl required>
                                  <option value="volvo">Volvo</option>
                                  <option value="saab">Saab</option>
                                  <option value="mercedes">Mercedes</option>
                                  <option value="audi">Audi</option>
                                </select>
                              </mat-form-field>
                        </div>

                        <button>Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->