<div class="main-content h-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-12">
                <div class="card h-100">
                    <div class="card-header card-header-danger d-flex align-items-center">
                        <h4 class="card-title p-2">Configurações de acessos</h4>
                        <!-- <p class="card-category">Adicionar e editar empresas aos usuários</p> -->
                    </div>
                    <div class="card-body p-0"></div>
                </div>
            </div>
        </div>
    </div>
</div>
